{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [".json$", "node:.+", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true
}
